DATABASE_USER=your_database_user
DATABASE_PASSWORD=your_database_password
DATABASE_NAME=your_database_name
DATABASE_HOST=your_database_host
DATABASE_PORT=your_database_port
MAILER_HOST=your_mailer_host
MAILER_PORT=your_mailer_port
MAILER_IGNORE_TLS=true
MAILER_SECURE=false
MAILER_USER=your_mailer_user
MAILER_PASSWORD=your_mailer_password